<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="layout">
	<head>
		<title>METACLIP: Metadata for climate products</title>
	</head>
	<body>
		<th:block layout:fragment="main">
			<main role="main" class="col-md-12 ml-sm-auto col-lg-12 p-5 static">
				<h1>Error</h1>
				<p style="font-size:1.5em">Sorry but there was an error with your request.</p>
				<p style="font-size:1.3em"><a th:href="@{/}">Return to METACLIP home page.</a></p>
			</main>
		</th:block>
	</body>
</html>
